.secao{
    width: 100%;
}
.mini{
    float: left;
    width: 50%;
}
.container{
    margin: 0 auto;
    max-width: 1200px;
}
.logo,
.secao{
    padding: 1%;
}
img{
    max-width: 100%;
}
.logo,
.busca,
.barra-nav,
.menu-principal, 
.nav-overlay {
    display: inline-block;
    vertical-align: middle;
}
.menu-principal li {
    float: left;
}
header{
    padding: 0.5em 0;
}
.destaques{
    margin-top: 1em;
}
.barra-nav{
    margin: 0.4em 0;
}

@media (min-width: 600px){
    .secao{
        float: left;
        width: 50%;
    }
}

@media (min-width: 1000px){
    .secao{
        float: left;
        width: 33.3%;
    }
}

.exibe-menu, .esconde-menu{
    float: left;
    -webkit-appearance: none;
    -moz-appearance:none;
    appearance: none;
    background: none;
    border: 0;
    outline: 0;
    font-size: 1.6em;
    text-indent: -999em;
}
.exibe-menu{
    height: .67em;
    width:.75em;
    padding-top:.125em;
    border-top: .375em double #000;
    border-bottom: .13em solid #000;
    vertical-align: middle;
    margin: 0.5em; 
}
.esconde-menu:before {
    content: '\00D7';
    font-size: 1.5em;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 15px;
    text-indent: 0;
}
@media not all and (max-width: 820px){
    .exibe-menu, .esconde-menu{
        display: none;
    }
    .nav-overlay{
        float: right;
        height: 100%;
        margin: 10px;
    }
}
@media (max-width: 820px){
    .barra-nav{
        margin: 0;
        padding: 20px;
        position: fixed;
        top: 0;
        left: -90%;
        width: 90%;
        max-width: 320px;
        height: 100%;
        background-color: #f0f0f0;
        z-index: 1;
        transition: left .3s ease-out;
    }
    .menu-mobile .barra-nav{
        left: 0;
    }
    .menu-mobile::after{
        content: "";
        display: block;
        position: fixed;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(168, 168, 168, 0.315);
        z-index: 0;
    }
    .menu-principal li{
        display: block;
        float: none;
        margin: 1em 0;
    }
    .esconde-menu{
        float: right;
        margin: 1em 0;
    }
    .busca{
        margin: 1em 0;
    }
}